body{
    background-image: linear-gradient(to right bottom, #000000, #050505, #090909, #0d0d0d, #111111);
    font-family: 'Roboto', sans-serif;
    .navbar{
        padding: 15px 20px;
        a{
            font-size: calc((1.5 - 1) * 1.2vw + 1rem);
            font-weight: 400;
            text-decoration: none;
            i.bi{
                color: #ffffff;
                font-size: 24px;
            }
        }
        .nav-item{
            margin-left: 3.5vw;
            align-self: center;
        }
        .get-in-touch{
            border-radius: 50px;
            padding: 1rem 2rem;
            font-weight: 300;
            font-size: calc((.9 - 1) * 1.2vw + 1rem);
        }
    }
    article{
        padding-top: 110px;
        .content-wrapper{
            padding: 10vmax 20px;
            .hero{
                // width: 50%;
                h2{
                    color: #ffffff;
                    font-size: calc((3 - 1) * 1.2vh + 1rem);
                    font-weight: 400;
                    line-height: calc(1.25 * (1 + (1 - 3)/25));
                    margin-bottom: 20px;
                    a{
                        color: #ffffff;
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-decoration-color: currentColor;
                        text-decoration-thickness: 1px;
                        text-underline-offset: .2em;
                        text-decoration-skip: auto;
                        text-decoration-skip-ink: auto;
                    }
                }
                p{
                    word-wrap: break-word;
                    color: #E0E0DB;
                }
            }
            .section-1{
                padding: 8vmax 0;
                h3{
                    font-size: calc((1.5 - 1) * 1.2vw + 1rem);
                    font-weight: 400;
                    color: #ffffff;
                }
                .card{
                    border: none;
                    border-radius: 0;
                    background: none;
                    .card-img-top{
                        border-radius: 0;
                        display: block;
                    }
                    .card-body{
                        padding: 34px 0;
                        h5{
                            color: #ffffff;
                            margin-bottom: 2rem;
                            a{
                                color: #ffffff;
                                text-decoration-line: underline;
                                text-decoration-style: solid;
                                text-decoration-color: currentColor;
                                text-decoration-thickness: 1px;
                                text-underline-offset: .2em;
                                font-size: calc((1.5 - 1) * 1.2vh + 1rem);
                                font-weight: 300;
                            }
                        }
                        p{
                            color: #ffffff;
                            font-size: calc((1 - 1) * 1.2vh + 1rem);
                        }
                    }
                }
            }
            .section-2{
                .more{
                    h2{
                        font-size: calc((3 - 1) * 1.2vh + 1rem);
                        margin-bottom: 2rem;
                        color: #ffffff;
                        font-weight: 400;
                    }
                    p{
                        font-size: calc((1 - 1) * 1.2vh + 1rem);
                        color: #ffffff;
                        font-weight: 300;
                        a{
                            color: #ffffff;
                            text-decoration-line: underline;
                            text-decoration-style: solid;
                            text-decoration-color: currentColor;
                            text-decoration-thickness: 1px;
                            text-underline-offset: .2em;
                        }
                    }
                }
            }
        }
    }
    footer{
        padding: 0 20px;
        .address{
            h2{
                font-weight: 400;
                font-size: calc((3 - 1) * 1.2vh + 1rem);
                color: #ffffff;
                margin-bottom: 2rem;
            }
            p{
                font-weight: 300;
                a{
                    color: #ffffff;
                    text-decoration-line: underline;
                    text-decoration-style: solid;
                    text-decoration-color: currentColor;
                    text-decoration-thickness: 1px;
                    text-underline-offset: .2em;
                }
            }
        }
        .social{
            padding: 17px 0;
            a{
                color: #ffffff;
                margin: 0 12px 0 0;
                font-size: 20px;
            }
        }
        .button-block{
            padding: 17px 0 34px;
            a{
                button{
                    border-radius: 50px;
                    padding: 1rem 2rem;
                    font-weight: 300;
                    font-size: calc((.9 - 1) * 1.2vw + 1rem);
                }
            }
        }
        .about{
            color: #ffffff;
            padding: 17px 0;
        }
    }
    
}

@media (min-width: 992px) {
    body{
        .navbar{
            padding: 30px 50px;
        }
        article{
            .content-wrapper{
                padding: 10vmax 50px;
                .hero{
                    width: 45%;
                }
            }
        }
        footer{
            padding: 0 50px;
            .address{
                h2{
                    font-size: calc(1.325rem + .9vw);
                }
            }
        }       
    }
}
